.sidebar {
  flex: 1;

  min-height: 100vh;
  background-color: white;
  margin: 18px 5px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .top {
    justify-content: center;
    align-items: center;
    display: flex-start;
    margin-top: 10px;
    .logo {
      font-size: 26px;
      font-weight: bold;
      color: #6439ff;
      margin-left: 18px;
    }
  }

  .center {
    padding-left: 15px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .title {
        font-size: 17px;
        font-weight: bold;
        color: #999;
        margin-left: 3px;
        margin-top: 30px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        margin: 15px 0;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 28px;
          color: #7451f8;
        }

        span {
          font-size: 17px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
}
