/*-----------------------------------*\
  #NEWSLETTERS
\*-----------------------------------*/
.newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../../images/bg-newsletters.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    padding: 30px 60px;
}

.newsletter h4 {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}



.newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

.newsletter p span {
    color: #ffbd27;
    margin-left: 5px;
}

.newsletter .form {
    display: flex;
    width: 40%;
    font-size: 14px;
}

.newsletter input {
    background-color: white;
    width: 100%;
    padding: 10px 0.875rem;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.newsletter .normal {
    background-color: #088178;
    color: #fff;
    padding: 0 1.5rem;
    margin-right: 10px;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
*/

@media (min-width: 470px) {
    .newsletter p {
        display: flex;
    }

}


@media (min-width: 1200px) {
    .newsletter p span {
        margin-left: 5px;
    }
}