

.container{
   padding: 30px;
   padding-top: 20px;
   margin: 0 auto;
   border-top: 1px solid var(--cultured);
}
.product_imgs img{
    width: 100%;
    display: block;
}
.img_display{
    overflow: hidden;
}
.img_showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img_select{
    display: flex;
    gap:0.3rem;
}
.img_item{
    margin-top: 0.3rem;
}

.img_item:hover{
    opacity: 0.8;
}

.product_title{
    font-size: 1.7rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
}
.product_title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product_link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product_link:hover{
    opacity: 0.9;
}
.product_rating{
    color: #ffc107;
    display: flex;
    margin-bottom: 5px;
}
.product_rating span{
    margin-left: 5px;
    font-weight: 600;
    color: #252525;
    font-size: 1.125rem;
}
.product_price{
    font-size: 1rem;
    font-weight: 700;
    display: flex;
}
.product_price span{
    font-weight: 400;
}
.last_price span{
    color: #f64749;
    margin-left: 8px;
    text-decoration: line-through;
}
.new_price span{
    color: #256eff;
}
.product_detail h2{
    text-transform: capitalize;
    color: #12263a;
    font-size: 24px;
}
.product_detail p{
    font-size: 0.9rem;
}
.product_detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product_detail ul li{
    display: flex;
    margin: 0;
    list-style: none;
    background: url('../../../images/products/checked.png') left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product_detail ul li span{
    font-weight: 400;
    margin-left: 5px;
}
.purchase_info{
    margin: 1.5rem 0;
    display: flex;
}
.purchase_info input,
.purchase_info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    outline: 0;
    margin-right: 0.2rem;
    font-size: 16px;
    padding: 8px;
}
.purchase_info input{
    width: 60px;
}
.purchase_info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase_info .btn:first-of-type{
    background: #256eff;
}
.purchase_info .btn:last-of-type{
    background: #f64749;
}
.purchase_info .btn:hover{
    opacity: 0.9;
}
.social_links{
    display: flex;
    align-items: center;
}
.social_links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social_links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}






/**
 * responsive larger than 768px screen
 */

 @media (min-width: 768px) {

    .container {
      max-width: 750px;
      margin: auto;
    }
  
}
  
@media (min-width: 992px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .product_imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product_content{
        padding-top: 0;
    }
}
  

  
  @media (min-width: 1024px) {
  
    .container { max-width: 980px; }

  }
  

  
  /**
   * responsive larger than 1400px screen
   */
  
  @media (min-width: 1400px) {
    .container { max-width: 1250px; }
  }