
a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
}

.nav-wrap{
  display: flex;
  border-bottom: 2px solid #f3f3f3;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-left: 12rem;
}

.search-input {
  padding: 10px 15px;
  border: none;
  outline: none;
  margin-left: 120px;
  border-radius: 10px;
  position: relative;
  font-size: 18px;
  width: 50rem;
  color: var(--onyx);
  background-color: white;
  border:1px solid var(--cultured)
}

.nav-icons {
  width: 24px;
  height: 24px;
  margin-right: 2rem;
}

.profile-container {
  display: flex;
}