.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 20px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 150px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 18px;
      color: green;
    }

    .counter {
      font-size: 38px;
      font-weight: 500;
      // background-color: red;
    }

    .link {
      width: max-content;
      font-size: 15px;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 16px;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 34px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}
