




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
    padding: 0 15px;
}



.title {
    color: var(--eerie-black);
    font-size: 1rem;
    font-weight: var(--weight-600);
    letter-spacing: 0.4px;
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 30px;
}


/**
 * overlay 
 */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header_top,
.user_actions,
.desktop_navigation_menu {
    display: none;
}

.main {
    padding: 20px 0;
    border-bottom: 1px solid var(--cultured);
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    margin: auto;
}

.search_container {
    position: relative;
}

.search_container .search_field {
    font-size: 0.875rem;
    color: var(--onyx);
    padding: 10px 15px;
    padding-right: 50px;
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
}

.search_field:focus {
    outline: none;
}

.search_field::-webkit-search-cancel-button {
    display: none;
}

.search_btn {
    background: var(--white);
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    color: var(--onyx);
    font-size: 18px;
    padding: 8px 15px;
    border-radius: var(--border-radius-md);
    transition: color var(--transition-timing);
}

.search_btn:hover {
    color: var(--salmon-pink);
}

.mobile_bottom_navigation {
    background: var(--white);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
    z-index: 5;
}

.mobile_bottom_navigation .action_btn {
    position: relative;
    font-size: 26px;
    color: var(--eerie-black);
    padding: 10px;
}

.mobile_bottom_navigation .count {
    background: var(--bittersweet);
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

.mobile_navigation_menu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 320px;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
    overflow-y: scroll;
    overscroll-behavior: contain;
    visibility: hidden;
    transition: 0.5s ease;
    z-index: 20;
}

.mobile_navigation_menu.active {
    left: 0;
    visibility: visible;
}

.menu_top {
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--cultured);
}

.menu_top .menu_title {
    color: var(--salmon-pink);
    font-size: 27px;
    font-weight: var(--weight-600);
}

.menu_close_btn {
    color: var(--eerie-black);
    font-size: 22px;
}

.menu_close_btn ion-icon {
    --ionicon-stroke-width: 50px;
}

.mobile_menu_category_list {
    margin-bottom: 30px;
}

.menu_category .accordion_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_menu_category_list .menu_category {
    border-bottom: 1px solid var(--cultured);
}

.mobile_menu_category_list .menu_title {
    color: var(--onyx);
    font-size: 0.938rem;
    font-weight: var(--weight-500);
    padding: 12px 0;
}

/* .accordion_menu>div {
    font-size: 14px;
} */

.accordion_menu ion-icon {
    color: var(--onyx);
    --ionicon-stroke-width: 90px;
}

.accordion_menu.active_icon .add_icon,
.accordion_menu .remove_icon {
    display: none;
}

.accordion_menu .add_icon,
.accordion_menu.active_icon .remove_icon {
    display: block;
}

.menu_category .submenu_category_list {
    margin-left: 10px;
}

.submenu_title {
    padding: 6px 0;
    font-size: 0.938rem;
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
}

.submenu_title:hover {
    color: var(--davys-gray);
}

.submenu_category_list {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.submenu_category_list.active {
    max-height: 148px;
    visibility: visible;
}

.menu_bottom .menu_category_list {
    margin-bottom: 20px;
}

.menu_bottom .menu_category {
    border-bottom: none;
}

.menu_bottom .menu_title {
    font-size: 0.938rem;
    font-weight: var(--weight-500);
    color: var(--eerie-black);
    padding: 12px 0;
}

.accordion_menu.active .caret_back {
    transform: rotate(-0.25turn);
}

.menu_bottom .submenu_category_list {
    border: 1px solid var(--cultured);
    border-radius: var(--border-radius-md);
    padding: 0 15px;
    margin-left: 0;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
}

.menu_bottom .submenu_category:not(:last-child) {
    border-bottom: 1px solid var(--cultured);
}

.menu_social_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu_social_container .social_link {
    background: var(--cultured);
    color: var(--eerie-black);
    font-size: 20px;
    padding: 10px;
    border-radius: var(--border-radius-md);
}

.menu_social_container .social_link:hover {
    background-color: var(--salmon-pink);
    color: white;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/


/**
 * responsive larger than 480px screen
 */

@media (min-width: 480px) {

    /**
     * #CUSTOM PROPERTY
     */

    :root {

        /**
       * typography 
       */

        --fs-1: 1.875rem;

    }



    /**
     * #HEADER
     */

    .header_top {
        display: block;
        border-bottom: 1px solid var(--cultured);
    }

    .social_container,
    .actions {
        display: none;
    }

    .alert_news {
        color: var(--sonic-silver);
        font-size: 1;
        text-transform: uppercase;
    }

    .alert_news b {
        font-weight: var(--weight-500);
    }

    .alert_news p {
        font-size: 13.5px;
    }

    .main {
        padding: 25px 0;
    }

    .mobile_bottom_navigation {
        border-top-left-radius: var(--border-radius-md);
        border-top-right-radius: var(--border-radius-md);
    }




}





/**
   * responsive larger than 570px screen
   */

@media (min-width: 570px) {

    /**
     * #HEADER
     */

    .header_top .container,
    .main .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-bottom: 0;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .actions select {
        border: none;
        display: block;
        min-width: 80px;
        padding: 5px 0;
        font: inherit;
        color: var(--sonic-silver);
        font-size: 0.813rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: var(--transition-timing);
        outline: none;
    }

    .actions select:hover {
        color: var(--eerie-black);
    }



    .search_container {
        min-width: 300px;
    }




}





/**
   * responsive larger than 768px screen
   */

@media (min-width: 768px) {

    /**
     * #CUSTOM PROPERTY
     */

    :root {

        /**
       * typography 
       */

        --fs-1: 2.375rem;

    }



    /**
     * #BASE 
     */

    html {
        font-size: 17px;
    }



    /**
     * #REUSED STYLE 
     */

    .container {
        max-width: 750px;
        margin: auto;
    }




    /**
     * #HEADER 
     */

    .main .container {
        gap: 80px;
    }

    .search_container {
        flex-grow: 1;
    }




}





/**
   * responsive larger than 1024px screen
   */

@media (min-width: 1024px) {

    /**
     * #CUSTOM PROPERTY
     */

    :root {

        /**
       * typography 
       */

        --fs-1: 2.625rem;
        --fs-2: 1.125rem;

    }



    /**
     * #REUSED STYLE 
     */

    .container {
        max-width: 980px;
    }


    /**
     * #HEADER 
     */

    .social_container {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .social_container .social_link {
        padding: 5px;
        background: hsl(0, 0%, 95%);
        border-radius: var(--border-radius-sm);
        color: var(--sonic-silver);
        transition: var(--transition-timing);

    }

    .social_container .social_link>ion-icon {
        font-size: 18px;

    }

    .social_container .social_link:hover {
        background: var(--salmon-pink);
        color: var(--white);
    }

    .user_actions {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .user_actions .action_btn {
        position: relative;
        font-size: 35px;
        color: var(--onyx);
        padding: 5px;
    }


    .user_actions .action_btn:hover {
        color: var(--salmon-pink);
    }

    .user_actions .count {
        position: absolute;
        top: -2px;
        right: -3px;
        background: var(--bittersweet);
        color: var(--white);
        font-size: 12px;
        font-weight: var(--weight-500);
        line-height: 1;
        padding: 2px 4px;
        border-radius: 20px;
    }

    .desktop_navigation_menu {
        display: block;
    }

    .desktop_menu_category_list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .desktop_menu_category_list .menu_category:not(:nth-child(2)) {
        position: relative;
    }

    .desktop_menu_category_list .menu_category>.menu_title {
        position: relative;
        color: var(--onyx);
        font-size: 0.875rem;
        font-weight: var(--weight-600);
        text-transform: uppercase;
        padding-top:20px;
        padding-bottom: 7px;
        transition: var(--transition-timing);
        margin-bottom: 20px;
    }

    .desktop_menu_category_list .menu_category>.menu_title:hover,
    .desktop_menu_category_list .menu_category>.active{
        color: var(--salmon-pink);
    }

    .desktop_menu_category_list .menu_category>.menu_title::after,
    .desktop_menu_category_list .menu_category>.active::after  {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--salmon-pink);
        transform: scaleX(0);
        transform-origin: left;
        transition: var(--transition-timing);
    }

    .desktop_menu_category_list .menu_category>.menu_title:hover::after,
    .desktop_menu_category_list .menu_category>.active:hover::after  {
        transform: scaleX(1);
        color: var(--onyx);
    }

    .dropdown-panel {
        position: absolute;
        top: 100%;
        left: 0;
        background: var(--white);
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        padding: 30px;

        border: 1px solid var(--cultured);
        box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
        border-radius: var(--border-radius-md);
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: var(--transition-timing);
        z-index: 5;
        max-width: 1200px;
        margin-left: 70px;
    }

    .desktop_menu_category_list .menu_category:hover>.dropdown-panel {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .dropdown-panel-list .menu_title a {
        color: var(--onyx);
        font-size: 0.875rem;
        font-weight: var(--weight-600);
        padding-bottom: 10px;
        border-bottom: 1px solid var(--cultured);
        margin-bottom: 10px;
    }

    .panel-list-item a {
        color: var(--sonic-silver);
        font-size: 0.875rem;
        text-transform: capitalize;
        transition: var(--transition-timing);

    }

    .panel-list-item a:hover {
        color: var(--salmon-pink);
    }

    .panel-list-item:not(:last-child) a {
        padding: 4px 0;
    }


    .panel-list-item img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-sm);
    }

    .dropdown-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        background: var(--white);
        padding: 20px 0;
        border-radius: var(--border-radius-md);
        border: 1px solid var(--cultured);
        box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: var(--transition-timing);
        z-index: 5;
    }

    .desktop_menu_category_list .menu_category:hover>.dropdown-list {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .dropdown-list .dropdown-item a {
        color: var(--sonic-silver);
        font-size: 0.875rem;
        text-transform: capitalize;
        padding: 4px 20px;
        transition: var(--transition-timing);
    }

    .dropdown-list .dropdown-item a:hover {
        color: var(--salmon-pink);
    }

    .mobile_bottom_navigation {
        display: none;
    }



}





/**
   * responsive larger than 1200px screen
   */

@media (min-width: 1200px) {

    /**
     * #REUSED STYLE 
     */

    .container {
        max-width: 1200px;
    }



    /**
     * #HEADER
     */

    .desktop_menu_category_list {
        gap: 45px;
    }


}





/**
   * responsive larger than 1400px screen
   */

@media (min-width: 1400px) {

    /**
     * #BASE 
     */

    html {
        font-size: 18px;
    }



    /**
     * #REUSED STYLE 
     */

    .container {
        max-width: 1350px;
    }


}