/*-----------------------------------*\
  #COLLECTION
\*-----------------------------------*/
.container {
    padding-inline: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.container>.section-title {
    font-size: 36px;
    font-weight: 600;
}

.section {
    padding: var(--section-padding);
}


.collection-list {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    gap: 10px;
}


.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.collection-card {
    background-color: var(--light-gray);
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    min-width: 300px;
    height: 320px;
    display: flex;
    flex-direction: column;
    background-color: green;

}

.card-title {
    margin-top: -8px;
    color: var(--white);
    font-size: 24px;
    margin-left: -15px;
    font-weight: 620;
    font-size: 22px;
}

.collection-card .card-text {
    margin-top: -6px;
    margin-left: -12px;
    color: var(--black);
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    margin-bottom: auto;
    font-size: 15px;
}



.has-before,
.has-after {
    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after {
    content: "";
    position: absolute;
}

.hover\:shine {
    overflow: hidden;
}

.hover\:shine .has-bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition-2);
}

.hover\:shine:is(:hover, :focus) .has-bg-image {
    transform: scale(1.15);
}

.hover\:shine::before {
    top: 0;
    left: -140%;
    bottom: 0;
    width: 100%;
    background-image: var(--gradient);
    transform: skewX(-25deg);
    transition: var(--transition-2);
    z-index: 1;
}

.hover\:shine:is(:hover, :focus-within)::before {
    animation: shine 1s ease forwards;
}

@keyframes shine {
    0% {
        transform: skewX(-25deg) translateX(0);
    }

    100% {
        transform: skewX(-25deg) translateX(250%);
    }
}

.btn-link {
    color: var(--black);
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
*/

@media (min-width: 575px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }
}


/**
   * responsive for larger than 768px screen
*/

@media (min-width: 768px) {
    /**
   * REUSED STYLE
   */

    .container {
        max-width: 730px;
    }

    .flex-item {
        max-width: calc(50% - 15px);
    }



    /**
   * COLLECTION
   */

    .collection-card {
        min-height: 450px;
    }
}


/**
   * responsive for larger than 992px screen
*/

@media (min-width: 992px) {
    /**
   * CUSTOM PROPERTY
   */

    :root {

        /**
     * spacing
     */

        --section-padding: 50px;

    }


    /**
   * REUSED STYLE
   */

    .container {
        max-width: 960px;
    }

    .flex-item {
        max-width: calc(33.33% - 20px);
    }

    /**
   * COLLECTION
   */

    .collection-list {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}


/**
   * responsive for larger than 1200px screen
*/

@media (min-width: 1200px) {}