/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.blog-container {
    padding-inline: 15px;
}



.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h1,
.h2,
.h3,
.h2-large {
    color: var(--black);
    font-weight: var(--fw-600);
    line-height: 1.3;
}

.h1 {
    font-size: var(--fs-1);
    line-height: 1.2;
}

.h2 {
    font-size: var(--fs-3);
}

.h2-large {
    font-size: var(--fs-2);
}

.h3 {
    font-size: var(--fs-4);
}


.has-before,
.has-after {
    position: relative;
    z-index: 1;
}

.has-before::before,
.has-after::after {
    content: "";
    position: absolute;
}

.hover\:shine {
    overflow: hidden;
}

.hover\:shine .has-bg-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: var(--transition-2);
}

.hover\:shine:is(:hover, :focus) .has-bg-image {
    transform: scale(1.15);
}

.hover\:shine::before {
    top: 0;
    left: -140%;
    bottom: 0;
    width: 100%;
    background-image: var(--gradient);
    transform: skewX(-25deg);
    transition: var(--transition-2);
    z-index: 1;
}

.hover\:shine:is(:hover, :focus-within)::before {
    animation: shine 1s ease forwards;
}

@keyframes shine {
    0% {
        transform: skewX(-25deg) translateX(0);
    }

    100% {
        transform: skewX(-25deg) translateX(250%);
    }
}

.btn-link {
    color: var(--black);
    font-weight: var(--fw-600);
    display: flex;
    align-items: center;
    gap: 3px;
    transition: var(--transition-1);
}

.img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--light-gray);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.flex-list-discover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}








/*-----------------------------------*\
    #BLOG
  \*-----------------------------------*/

.blog-wrap {
    padding-block-end: calc(var(--section-padding) * 2);
    padding-block: var(--section-padding);
}

.blog-container .section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: black;
}

.blog-wrap .section-title {
    text-align: center;
    margin-block-end: 40px;
}

.blog-card .card-banner img {
    transition: var(--transition-2);

}

.blog-card:is(:hover, :focus-within) .card-banner img {
    transform: scale(1.2);
}

.blog-card .card-title-discover {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    transition: var(--transition-1);
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.blog-card .card-title-discover:is(:hover, :focus) {
    color: var(--hoockers-green);
}

.blog-card .btn-link {
    justify-content: center;
}


/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
@media (min-width: 370px) {
    .blog-container .section-title {
        font-size: 24px;
    }

    .blog-container .btn-link {
        font-size: 14px;
    }
}

/**
   * responsive for larger than 575px screen
   */

@media (min-width: 575px) {

    /**
     * REUSED STYLE
     */

    .blog-container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .blog-container {
        padding-inline: 30px;
    }
}


/**
   * responsive for larger than 768px screen
   */

@media (min-width: 768px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 5.6rem;

    }



    /**
     * REUSED STYLE
     */

    .blog-container {
        max-width: 730px;
        gap: 10px;
    }

    .flex-item-discover {
        max-width: calc(50% - 15px);
    }


}





/**
   * responsive for larger than 992px screen
   */

@media (min-width: 992px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * spacing
       */

        --section-padding: 50px;

    }



    /**
     * REUSED STYLE
     */

    .blog-container {
        max-width: 960px;
    }


    .flex-item-discover {
        max-width: calc(33.33% - 20px);
    }

}





/**
   * responsive for larger than 1200px screen
   */

@media (min-width: 1200px) {

    /**
     * REUSED STYLE
     */

    .blog-container {
        max-width: 1300px;
    }

}