.blog>.container {
    display: flex;
    flex-direction: column;
}

.container>ul {
    display: flex;
    flex-direction: row;
}

.blog {
    padding-bottom: calc(var(--section-padding) * 2);
}

.blog .section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: black;
}

/* .blog-card .card-banner img {
    transition: var(--transition-2);
} */
.blog-card .card-banner img {
    transition: var(--transition-2);
}

.blog-card:is(:hover, :focus-within) .card-banner img {
    transform: scale(1.2);
}

.flex-list {
    gap: 25px;
}

.blog-card .card-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: var(--transition-1);
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.blog-card .card-title:is(:hover, :focus) {
    color: var(--hoockers-green);
}

.blog-card .btn-link {
    justify-content: center;
}

.flex-item>.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}