.features {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.featureIcon {
    width: 60px;
    height: 60px;
}

.featureTitle {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 10px;
    font-family: "Spartan", sans-serif;
}

.featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
    font-family: "Spartan", sans-serif;
    font-size: 14px;
}