/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    margin-left: 3px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    padding-top: 10px;
    text-align: center;

}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
*/

@media (max-width: 880px) {

    #newsletter .form {
        margin-top: 10px;
        width: 60%;
    }
}


/**
   * responsive for larger than 768px screen
*/

@media (max-width: 658px) {
    #newsletter .form {
        width: 90%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    footer .copyright {
        text-align: start;
    }
}