/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 80px 0 80px;
}

 .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

 .logo {
    margin-bottom: 30px;
}

.title{
    font-size: 14px;
    border-bottom: 1px solid var(--cultured);
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
.icon{
    font-size: 22px;
}
.icon i{
    margin-right: 4px;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

 .follow {
    margin-top: 20px;
}

 .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

 .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    margin-left: 3px;
}

 .install img {
    margin: 10px 0 15px 0;
}

 .follow i:hover, a:hover {
    color: var(--salmon-pink)
}

.copyright {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


@media (max-width: 580px) {
    .container {
        display: grid;
        grid-template-columns: 1fr !important;
    }
}

@media (max-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

}