.container {
  display: flex;
  margin-bottom: 30px;
}

.title {
  margin-top: 20px;
  font-size: 20px;
}

.btns {
  padding: 5px 10px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
  cursor: pointer;
  font-size: 14px;
}

.btns:hover{
  color: var(--salmon-pink);
}
