




/*-----------------------------------*\
    #BANNER
  \*-----------------------------------*/


.banner {
    margin: 30px 0;
}

.container {
    padding: 0 15px;
}
.has_scrollbar {
    padding-bottom: 5px;
}

.has_scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.has_scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border: 3px solid var(--white);
    border-radius: 20px;
}

.has_scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
}

.has_scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 80%);
}

.slider_container {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
}

.slider_item {
    position: relative;
    min-width: 100%;
    max-height: 450px;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    scroll-snap-align: start;
}

.slider_item .banner_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.banner_content {
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: var(--border-radius-md);
}

.banner_subtitle {
    color: var(--salmon-pink);
    font-size: 0.875rem;
    font-weight: var(--weight-500);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.banner_title {
    color: var(--eerie-black);
    font-size: 1.563rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 10px;
}

.banner_text {
    display: none;
}

.banner_btn {
    background: var(--salmon-pink);
    color: var(--white);
    width: max-content;
    font-size: 0.625rem;
    font-weight: var(--weight-600);
    text-transform: uppercase;
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--transition-timing);
}

.banner_btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--white);
}





/*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/


/**
   * responsive larger than 480px screen
   */

@media (min-width: 480px) {

    .banner_title{
        font-size: 1.875rem;
    }

    .slider_item {
        aspect-ratio: 5 / 3;
    }

    .banner_content {
        top: 50%;
        right: auto;
        bottom: auto;
        transform: translateY(-50%);
        max-width: 320px;
    }

    .banner_subtitle {
        font-size: 1rem;
    }

    .banner_text {
        display: block;
        color: var(--sonic-silver);
        font-size: 0.875rem;
        font-weight: var(--weight-500);
        margin-bottom: 10px;
    }

    .banner_text b {
        font-size: 1.375rem;
    }

    .banner_btn {
        padding: 7px 20px;
    }



}



/**
   * responsive larger than 570px screen
   */

@media (min-width: 570px) {


    .slider_item {
        aspect-ratio: 4 / 2;
    }

    .banner_content {
        background: none;
    }



}



/**
   * responsive larger than 768px screen
   */

@media (min-width: 768px) {

   
    .banner_title{
        font-size: 2.375rem;
    }


    html {
        font-size: 17px;
    }


    .container {
        max-width: 750px;
        margin: auto;
    }

    .slider_item {
        aspect-ratio: auto;
        height: 350px;
    }

    .banner_content {
        max-width: 380px;
    }

    .banner_subtitle {
        font-size: 1.25rem;
    }

    .banner_text {
        font-size: 1.125rem;
    }

    .banner_text b {
        font-size: 1.875rem;
    }

    .banner_btn {
        font-size: 0.75rem;
    }

}


/**
   * responsive larger than 1024px screen
   */

@media (min-width: 1024px) {

    .banner_title{
        font-size: 2.265rem;
    }


    .container {
        max-width: 980px;
    }

    .banner {
        margin-top: 0;
    }

    .slider_item {
        height: 380px;
    }

    .banner_content {
        left: 75px;
        max-width: 400px;
    }

    .banner_subtitle {
        font-size: 1.625rem;
    }

    .banner_text {
        font-size: 1.375rem;
    }

    .banner_btn {
        font-size: 0.875rem;
    }




}





/**
   * responsive larger than 1200px screen
   */

@media (min-width: 1200px) {

  
    .container {
        max-width: 1200px;
    }

    .slider_item:last-child .banner_img {
        object-position: top;
    }


}





/**
   * responsive larger than 1400px screen
   */

@media (min-width: 1400px) {

 
    html {
        font-size: 18px;
    }


    .container {
        max-width: 1350px;
    }


    .slider_item {
        height: 450px;
    }

    .banner_content {
        left: 110px;
        max-width: 460px;
    }

}